<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <!-- Remove the "Jack Bauer" line -->
    <h1 class="display-3">Secrets</h1>
    <p class="lead my-2">Don't keep your secrets, share them anonymously!</p> <!-- Changed "my-3" to "my-2" -->
    <hr>
  </div>
</div>

<!-- Move the "container" div inside the "jumbotron" div to keep the secrets inside it -->
<div class="jumbotron centered py-2"> <!-- Changed "py-3" to "py-2" -->
  <% secrets.forEach(function(secret) { %>
    <p class="secret-text"><%= secret.secretText %></p>
  <% }); %>
</div>

<!-- Wrap the buttons in a centered div -->
<div class="centered my-2"> <!-- Changed "my-3" to "my-2" -->
  <div class="container">
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
